@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-rubik;
  }

  a {
    @apply no-underline;
  }

  li {
    @apply list-none
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1440px] max-lg:px-6 max-sm:px-4;
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .text-black {
    color: black !important;
}
}